# OSX
.DS_Store

# Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

# eclipse
.cproject
.project
.pydevproject
.settings

# JetBrains IDE temp files
.idea

# R
.RData
.Rhistory

# gnu tools intermediates
*.swp
*.swo
*.o
*.lst
*.d
*.elf
*.map

# Python intermediates
*.pyc
*.pyo

# Thinks to ignore by convention
*.c.orig
*.h.orig
*.mk.orig
